body {
    font-family: helvetica;
}
/*
*******************************
* =html_properties
*******************************
*/
li { list-style: none; }
a { color: #A52A2A; text-decoration: none; }
fieldset { border: none; }
table { border: 1px solid #e3e3e3; border-collapse: collapse; }
table th, tr, td { border: 1px solid #e3e3e3; }
table th { padding-left: 10px; }
input[type=text], input[type=password] { width: 300px; height: 30px; border-style: double; border-color: #aae5ff; border-radius: 3px; }
/*
*******************************
* =wrap
*******************************
*/
.wrap {
    width: 1170px;
    height: 700px;
    margin: auto;
    position: relative;
    top: 25px;
}

/*
*******************************
* =header
*******************************
*/
.header {
    width: 100%;
    height: 85px;
    border: 2px solid #1F3A93;
    border-radius: 5px;
    position: relative;
    font-family: sans-serif;
    letter-spacing: -1px;
}

.logo { padding: 5px 15px; float: left; }

.border_right { height: 65px; width: 2.4px; background: #BDC3C7; float: left; margin-top: 10px;}
.header_title { width: 110px; float: left; font-weight: 400; padding-top: 5px; }
.navigation { width: 500px; height: 55px; float: left; margin-top: 10px; }
.header .navigation li { display: inline; padding-right: 5px; font-size: 20px; }
.header .navigation a { font-weight: lighter; }
.header .control li { display: inline; padding-right: 10px; font-size: 17px; }
.control { width: 400px; height: 55px; float: right;; margin-top: 10px;  }
.navigation a:hover, .control a:hover{ color: #34495E; }
.navigation, .control { letter-spacing: -1px; font-style: normal; font-weight: 100; }
.control a img { padding-left: 10px; }
.navigation a, .control a { font-size: 15px; }
/*
*******************************
* =side_panel
*******************************
*/

.side_panel, .main { margin-top: 20px; }

.side_panel {
    width: 25%;
    border: 1px solid #094F9F;
    border-radius: 5px;
    float: left;
	padding:15px 8px;
}
.side_panel table { border-collapse: collapse; font-size: 18px; width: 100%; }
.side_panel td { height: 30px; font-size: 14px; }
.side_panel th { text-align: left; padding-left: 25px; background: #094F9F; height: 35px; border-radius: 2px 5px 0 0; }

.side_panel table td { border: 1px solid #094F9F; padding: 5px 20px; }
.class_panel_2 {margin-top:50px;}
.class_panel_1, .class_panel_2 {border: 1px solid #094F9F;
    border-radius: 10px;padding: 7px;}



/*
*******************************
* =main
*******************************
*/
.main {
    width: 72%;
    height: auto;
    margin-left: 10px;
    float: left;
    border: .5px solid #ececec;
}
.main table { border: 1px solid #ececed; margin: 10px; }
.main th { padding-left: 25px; font-size: 16px; font-weight: lighter; }
.main th, td { border-bottom: 1px solid #ececed; margin: 10px; border-collapse: collapse; }
.main td { font-size: 12px; }
.main th, td { text-align: left; height: 35px; }
.main .title { text-align: left; padding-left: 25px; color:#fff; background: #1F3A93; height: 35px; border-radius: 2px 5px 0 0; }
.main table li span { font-size: 10px; }
.main table li { margin-bottom: 5px; }

/*
*******************************
* =settings
*******************************
*/
.settings input[type=text], input[type=password] { width: 300px; height: 28px; border-style: double; border-color: #aae5ff; border-radius: 3px; }
.settings input:focus { border-color: #1F3A93; box-shadow: 0px 0px 3px 1px #aae5ff; }
.settings input[type=submit] { width: 160px; height: 35px; margin-bottom: 20px; background: #EC644B; border-style: hidden; border-radius: 5px; color: #fff; }
.settings label { display: block; }
.settings label, input { margin-bottom: 10px; }
.settings .title { text-align: left; padding-left: 25px; color: #fff; background: #1F3A93; height: 35px; border-radius: 2px 5px 0 0; }
.settings table th,td { text-align: left; }

tr td select option { width: 150px; height: 22px; border-style: double; border-color: #aae5ff; border-radius: 3px; }

/*
*******************************
* =offered_courses
*******************************
*/
.offered_courses table th, tr, td { padding: 5px; }
.offered_courses table th { text-align: left; }
.offered_courses table th input { float: right; }
.offered_courses input { width: 200px; height: 25px; border-radius: 3px; border-style: groove; border-color: #aae5ff; float: right; }
.offered_courses button { float: right; height: 30px; }

/*
*******************************
* =course_section
*******************************
*/
.course_title { width: 300px; height: 100px; float: left; }
.course_title p { font-size: 12px; }
/*
*******************************
* =time_schedule
*******************************
*/
.time_schedule { width: 400px; height: 200px; float: right; }
.time_schedule table { border-style: none; }
.time_schedule table td, td { border-style: none; }
.time_schedule table td, td { border-bottom: 1px solid #e3e3e3; }
/*
*******************************
* =course_detail
*******************************
*/
.course_detail { width: 100%; height: auto; float: left; }

/*
*******************************
* =action_bar
*******************************
*/
.action_bar { width: 100%; height: 50px; }
.action_bar ul li { display: inline; margin-right: 10px; }

/*
*******************************
* =chat_box
*******************************
*/
.chat_box { width: 80%; height: 500px; float: left;}

.chat_box ul li { list-style: none; display: inline; }
.chat_box input[type=text] { border-radius: 3px; border-style: groove; border-color: #e3e3e3; }
.chat_box .forward_message { width: 360px; height: 25px; box-shadow: 0px 0px 3px 1px #aae5ff; }
.chat_box button { width: 105px; height: 30px; background: #2574A9; color: #fff; border-style: none; border-radius: 2px; }


/*
*******************************
* =status_bar
*******************************
*/
.status_bar { width: 20%; height: 100px; float: right; margin-top: 10px; }
.status_bar li { display: inline; }


/*
*******************************
* =registration_notification
*******************************
*/
.registration_notification { width: 100%; height: 40px; margin-top: 10px; margin-bottom: 0;}
.registration_notification button { width: 200px; height: 40px; background: #EC644B; border-style: none; border-radius: 3px; float: right; color: #fff; margin-right: 10px; }
.registration_notification button .confirm { background: #fff; }

/*
*******************************
* =available_courses
*******************************
*/
.available_courses { width: 100%; height: 500px; margin-top: 20px; }

/*
*******************************
* =input_submit
*******************************
*/
.btn-warning { width: 200px; height: 40px; background: #EC644B; border-style: none; border-radius: 3px; float: right; color: #fff; margin-right: 10px; }
.btn-success { width: 200px; height: 40px; background: #26C281; border-style: none; border-radius: 3px; float: right; color: #fff; margin-right: 10px; }

/*
*******************************
* =student_info
*******************************
*/
.profile_pic { width: 200px; height: 200px; float: left; position: relative; left: 300px; }
.student_info { width: 400px; height: 250px; float: left; position: relative; left: 300px; }
.student_info table, th, td { border-style: none; }
.student_info table td { font-size: 16px; }
.register_info { float: left; color: red; }
.notification_area { width: 500px; height: 50px; float: left; position: relative; right: 200px; top: 200px; }

/*
*******************************
* =i_frame
*******************************
*/
iframe { border-style: none; }

/*
*******************************
* =search_bar
*******************************
*/
.search_bar {
    width: 100%;
    height: 55px;
}

.search_box {
    width: 500px;
    float: left;
    height: 55px;
}
.search_bar .control {
    float: left;
    width: 220px;
    margin-top: 0;
    height: 55px;
}
.input_search {
    width: 480px;
    height: 30px;
    margin-top: 10px;
    padding-left: 0;
    margin-left: 0;
}
.control .btn-success { margin-top: 10px; }

/*
*******************************
* =thumbnail
*******************************
*/
.thumbnail { margin-top: 10px; }
.thumbnail .profile_pic { left: 0; }

.thumbnail {
    width: 100%;
    height: 200px;
}

.thumbnail .student_info {
    width: 500px;
    height: 500px;
    float: left;
    left: 0;
}

.thumbnail .student_info table, th, td {
    padding-left: 10px;
    padding-right: 20px;
}
